$textfield-color-hover:  lightblue;
$action-color:  gainsboro;
$action-color-hover: darken($action-color, 8%);

.superTextfieldContainer{
    .superTextfield{
        padding: 10px;
        border-radius: 4px;
        background-color: lighten($textfield-color-hover, 15%);
        width: 100%;
        box-sizing: border-box;
        border: none;
    
        &:not([disabled]):hover{
            background-color: $textfield-color-hover;
        }

        &:focus{
            background-color: $action-color;
        }
    }

    .superTextfieldActionsContainer{
        position: relative;

        .superTextfieldActions{
            position:absolute;
            right: 0px;
            top: 4px;

            .superTextfieldAction__save,
            .superTextfieldAction__cancel{
                font-weight: 700;
                border: 1px solid $action-color-hover;
                width: 35px;
                height: 35px;
                font-family: "Open Sans";
                margin: 0 0 0 2px;
                font-size: 12px;
                display: inline-block;
                background-color: $action-color;
                border-radius: 3px;
                fill: grey;

                @media (hover: hover){
                    &:hover{
                        background-color: $action-color-hover;
                    }
                }
            }
        }
    }

    .hidden{
        display:none;
    }
}