:host{
    display:block;
    border-radius: 8px;
    overflow:hidden;
    max-width:400px;
    width:100%;
    transition: box-shadow 0.3s ease-in-out;
    // using the custom property defined in the parent page
    background-color: var(--theme-button-colour);
}

:host(:hover){
    box-shadow: 5px 5px 10px gray;
}

::slotted(*){
    width:100%;
}

// you can only style the slot itself, not the slotted elements although they will inherit
// styles from this rule
slot[name="title"] { 
    display:block;
    font-size:16px;
}

slot[name="content"] { 
    font-size:20px;
}

.heading{
    padding: 10px;
}

.content{
    padding: 12px 12px 15px;
}

a{
    text-decoration: none;
    color: inherit;
}