body{
    // theming using css custom properties. These can be accessed by the shadow dom on a web component
    --theme-button-colour: #29abe2;

    font-family: sans-serif;
    color: darkslategray;
}

shadow-carousel{
    margin:10px 0;
    display: inline-block;

    shadow-card{
        width: 240px;
    }
}

shadow-card{
    // using this, I can override the slot styling since the summary lives in light dom
    .card__summary{
        font-size:14px;
    }

    .card__title{
        margin: 0 0 10px 0;
    }
}

my-textfield{
    &.with-border{
        width: 500px;
    }
}

.disabled,
:disabled{
    color: grey;
}